*,
*::before,
*::after {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --lendsqr-main: #213F7D;
  --lendsqr-teal: #39CDCC;
  --lendsqr-grey: #545F7D
}

html,
body {
  font-family: 'AvenirRegular', sans-serif;
  color: var(--lendsqr-grey);
  font-style: normal;

  .half_container {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: 50%;
    }
  }

  .fitWidth {
    width: fit-content;
  }

  .input_field {
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    border: transparent;
  }

  .login {
    height: 100vh;
    display: flex;
    justify-content: center;

    .content {
      display: none;
      background-color: #fcfcfc;

      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .logo {
        position: relative;
        bottom: 30%;
      }
    }

    .form_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form_content {
        width: 100%;

        @media screen and (min-width: 768px) {
          display: flex;
          flex-direction: column;
          row-gap: 3rem;
          width: 63.337%;
        }

        .message {
          padding: 0px 20px;

          @media screen and (min-width: 768px) {
            padding: unset;
          }

          h1 {
            font-weight: 700;
            font-size: 40px;
            color: var(--lendsqr-main);
            font-family: 'AvenirBold', sans-serif;
            letter-spacing: -0.04em;
          }

          p {
            font-weight: 400;
            font-size: 20px;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          padding: 0px 20px;
          row-gap: 2rem;

          @media screen and (min-width: 768px) {
            width: 83.33%;
            padding: unset;
          }

          a {
            color: var(--lendsqr-teal);
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
          }

          .password_container {
            border-radius: 6px;

            span {
              color: var(--lendsqr-teal);
              font-weight: 600;
              font-size: 12px;
              text-transform: uppercase;
            }
          }

          button {
            background: var(--lendsqr-teal);
            color: white;
            padding: 16px 0px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            border-radius: 8px;
          }
        }
      }


    }


  }
}